<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mr.archer.dao.AppAuditLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mr.archer.entity.AppAuditLog">
        <id column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="user_id" property="userId" />
        <result column="info" property="info" />
        <result column="app_audit_id" property="appAuditId" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
