<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mr.archer.dao.BusinessApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mr.archer.entity.BusinessApply">
        <id column="id" property="id" />
        <result column="customerid" property="customerid" />
        <result column="customername" property="customername" />
        <result column="occurtype" property="occurtype" />
        <result column="businesstype" property="businesstype" />
        <result column="currency" property="currency" />
        <result column="money" property="money" />
        <result column="industry" property="industry" />
        <result column="termunit" property="termunit" />
        <result column="term" property="term" />
        <result column="baseratetype" property="baseratetype" />
        <result column="baserate" property="baserate" />
        <result column="ratefloattype" property="ratefloattype" />
        <result column="ratefloatval" property="ratefloatval" />
        <result column="iscycle" property="iscycle" />
        <result column="guaranttype" property="guaranttype" />
        <result column="rate" property="rate" />
        <result column="monthrate" property="monthrate" />
        <result column="purpose" property="purpose" />
        <result column="repaytype" property="repaytype" />
        <result column="repayfrequency" property="repayfrequency" />
        <result column="interestfrequency" property="interestfrequency" />
        <result column="repaydesc" property="repaydesc" />
        <result column="reportid" property="reportid" />
        <result column="filelistid" property="filelistid" />
        <result column="createuser" property="createuser" />
        <result column="createtime" property="createtime" />
        <result column="createorg" property="createorg" />
        <result column="updateuser" property="updateuser" />
        <result column="updatetime" property="updatetime" />
        <result column="updateorg" property="updateorg" />
    </resultMap>

    <select id="selectBusinessApplyListByUser" resultType="com.mr.archer.entity.BusinessApply">
        select
        ba.*,
        su.nick as createusername,
        so.name as createorgname,
        bt.name as businesstypename
        from business_apply ba
        left join sys_user su on su.id = ba.createuser
        left join sys_org so on so.id = ba.createorg
        left join business_type bt on bt.id = ba.businesstype
        where ba.createuser = #{userid}
        <if test="customername != null and customername != ''">
        and ba.customername like concat('%',#{customername},'%')
        </if>
        order by ba.createtime
    </select>

    <select id="selectBusinessApplyById" resultType="com.mr.archer.entity.BusinessApply">
        select ba.* ,
        bt.name as businesstypename
        from business_apply ba
        left join business_type bt on bt.id = ba.businesstype
        where ba.id=#{id}
    </select>

</mapper>
