<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mr.archer.dao.FinBalanceSheetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mr.archer.entity.FinBalanceSheet">
        <id column="id" property="id" />
        <result column="baseinfoid" property="baseinfoid" />
        <result column="type" property="type" />
        <result column="configid" property="configid" />
        <result column="a1" property="a1" />
        <result column="a2" property="a2" />
        <result column="a3" property="a3" />
        <result column="a4" property="a4" />
        <result column="a5" property="a5" />
        <result column="a6" property="a6" />
        <result column="a7" property="a7" />
        <result column="a8" property="a8" />
        <result column="a9" property="a9" />
        <result column="a10" property="a10" />
        <result column="a11" property="a11" />
        <result column="a12" property="a12" />
        <result column="a13" property="a13" />
        <result column="a14" property="a14" />
        <result column="a15" property="a15" />
        <result column="a16" property="a16" />
        <result column="a17" property="a17" />
        <result column="a18" property="a18" />
        <result column="a19" property="a19" />
        <result column="a20" property="a20" />
        <result column="a21" property="a21" />
        <result column="a22" property="a22" />
        <result column="a23" property="a23" />
        <result column="a24" property="a24" />
        <result column="a25" property="a25" />
        <result column="a26" property="a26" />
        <result column="a27" property="a27" />
        <result column="a28" property="a28" />
        <result column="a29" property="a29" />
        <result column="a30" property="a30" />
        <result column="a31" property="a31" />
        <result column="a32" property="a32" />
        <result column="a33" property="a33" />
        <result column="a34" property="a34" />
        <result column="a35" property="a35" />
        <result column="a36" property="a36" />
        <result column="a37" property="a37" />
        <result column="a38" property="a38" />
        <result column="a39" property="a39" />
        <result column="a40" property="a40" />
        <result column="a41" property="a41" />
        <result column="a42" property="a42" />
        <result column="a43" property="a43" />
        <result column="a44" property="a44" />
        <result column="a45" property="a45" />
        <result column="a46" property="a46" />
        <result column="a47" property="a47" />
        <result column="a48" property="a48" />
        <result column="a49" property="a49" />
        <result column="a50" property="a50" />
        <result column="a51" property="a51" />
        <result column="a52" property="a52" />
        <result column="a53" property="a53" />
    </resultMap>

</mapper>
