<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mr.archer.dao.ReportConfigRelaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mr.archer.entity.ReportConfigRela">
        <id column="id" property="id" />
        <result column="reportid" property="reportid" />
        <result column="nodeid" property="nodeid" />
        <result column="sortno" property="sortno" />
    </resultMap>

    <select id="selectListByReportId" resultType="com.mr.archer.entity.ReportConfigRela">
        select
        rcr.*,
        rn.title as title,
        rn.nodedesc as nodedesc,
        rn.vuepath as vuepath
        from report_config_rela rcr
        left join report_node rn on rcr.nodeid = rn.id
        where rcr.reportid = #{reportid}
        order by rcr.sortno
    </select>
</mapper>
